@tailwind base;
@tailwind components;
.swiper-pagination {
  width: 100px !important;
  left: 200px !important;
  bottom: 110px !important;
}
:root {
  --swiper-theme-color: #13f338 !important;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
}

@tailwind utilities;
